body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  user-select: none;
}

#app {
  display: grid;
  grid-auto-columns: minmax(auto, max-content);
  font-family: 'Fira Code';
  width: 100%;
}

.nil {
  height: 11px;
  padding: 2px 10px 2px 5px;
  box-shadow: 0 0 0 2px lightgray;
  border-radius: 8px;
  background: white;
  color: black;
  margin: 2px;
  pointer-events: all;
  outline: none;
  position: relative;
}

.nil:focus {
  background: black;
  color: white;
  box-shadow: 0 0 0 2px gray;
  z-index: 1;
}

.list:focus {
  --bracket-color: gray;
  --bracket-background-color: black;
  --connection-color: gray;
  color: white;
}

.list {
  --bracket-color: black;
  --bracket-background-color: white;
  --connection-color: lightgray;
  display: flex;
  align-items: center;
  flex-flow: wrap;
  outline: none;
  padding: 2px 10px 2px 5px;
  background: white;
  background: paint(bracket);
  color: black;
  margin: 2px;
  pointer-events: all;
}

.list>.item {
  display: contents;
}

.list>.item>* {
  margin: 1px 0 1px 5px;
}

.list>.item>* {
  margin: 3px 2px 3px 8px;
}

.atom {
  pointer-events: all;
}

.quote {
  --quote-color: black;
  --quote-background-color: lightgray;
  display: flex;
  height: 100%;
  background: paint(quote);
  color: black;
  margin: 0;
  margin-left: 5px;
}

.string {
  --string-quote-color: black;
  --string-quote-offset: 0;
  display: flex;
  height: 100%;
  padding: 0 5px;
  background: paint(string-quote);
  color: black;
  margin: 0;
  margin-left: 5px;
}

.string:focus {
  --string-quote-offset: 2;
  outline: none;
}

.string:focus>.list {
  background: lightgray;
}

.string>.list {
  background: none;
  padding: 0 0 0 0;
  border-radius: 8px
}

.string>.list>.item>* {
  margin-left: 2px;
}

.string>.list>.item>.nil {
  border-radius: 0;
  padding: 2px 10px 2px 0;
}

.string>.list>.item-nil+.item-nil>.nil {
  margin-left: 0;
}

.string>.list:focus {
  background: black;
  color: white;
  border-radius: 8px
}

.quote>.list {
  margin: 0;
  margin-left: 5px;
  --connection-color: none;
  --bracket-color: none;
}

.quote:focus {
  --quote-color: gray;
  --quote-background-color: black;
  outline: none;
  color: white;
}

.quote>.nil:focus {
  background: black;
  color: white;
  box-shadow: none;
}

.quote>.nil {
  margin-left: 7px;
  box-shadow: 0 0 0 2px black;
}

.quote>.atom {
  margin: 2px 10px;
}

.list:focus>.item>.list {
  --connection-color: none;
}

.list:focus>.item>.nil {
  box-shadow: none;
}

.list:focus>.item>.string {
  --string-quote-color: white;
}

.list:focus>.item>.string>.list {
  color: white;
}

.list:focus>.item>.string>.list>.item>.list {
  --connection-color: none;
}

.editor:focus {
  outline: none;
  background: black;
  color: white;
  box-shadow: 0 0 0 2px black;
  user-select: all;
}

.editor::selection {
  background: none;
  color: unset;
}

.editor:focus::selection {
  background: white;
}

.SyncView {
  display: grid;
  justify-items: self-start;
  grid-gap: 10px;
}

pre {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
}

.terminal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: 1fr max-content;
}

.terminal>.buffer {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  padding: 5px 0;
}

.log {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-auto-rows: max-content;
  margin: 5px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px;
  padding: 5px;
  border-radius: 5px;
  gap: 5px;
}

.log>* {
  grid-column: 1/4;
  justify-self: baseline;
}

.log>.source {
  grid-column: 1;
}

.log>.time {
  grid-column: 3;
  grid-row: 3;
  font-size: small;
  color: #aaa;
}

.terminal > .mini-buffer {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-auto-rows: max-content;
  justify-items: baseline;
  padding: 10px;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.4);
  align-items: center;
}